body[data-vscode-theme-name="Newbie Light"] code {
	/* background: #f1f1f1; */
	background: #fdfdfd;
    border: 1px solid #e0e0e0;
    padding: 0px 3px;
    border-radius: 3px;
    /* color: black; */
}

body[data-vscode-theme-name="Newbie Light"] pre {
	background-color: #fdfdfd;
    border: 1px solid #f0f0f0;
}

body[data-vscode-theme-name="Newbie Light"] pre code {
	background: transparent;
    border: none;
    padding: 0;
    border-radius: 0;
}

body[data-vscode-theme-name="Newbie Light"] .hljs-keyword {
	color: #8757A5;
	font-weight: bold;
}

body[data-vscode-theme-name="Newbie Light"] .hljs-string {
	color: #738D06;
}

body[data-vscode-theme-name="Newbie Light"] .hljs-number {
	color: #F18A2B;
}

body[data-vscode-theme-name="Newbie Light"] .hljs-built_in {
	/* color: #007ACC; */
	color: inherit;
}

body[data-vscode-theme-name="Newbie Light"] .hljs-function .hljs-title,
body[data-vscode-theme-name="Newbie Light"] .hljs-attr {
	color: #4370B0;
	font-weight: bold;
}

body[data-vscode-theme-name="Newbie Light"] blockquote {
    /* background: rgb(195 195 195 / 10%);
    border-color: #dedede; */
	background: #fff4ea;
	border-color: #ffc58f;
}
